<h1>Login</h1>
<% if (locals.messages.error_code) { %>
    <p><%= locals.messages.error_code %></p>
    <p><%= locals.messages.error_message %></p>
<% } %>

<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" />
    <label for="password">Password</label>
    <input type="password" name="password" />

    <input type="submit" />
</form>
