

<head>
    <link rel="stylesheet" href=".././css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/core.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="/" class="nav_logo"> <i class='bx bx-brightness nav_logo-icon'></i> <span class="nav_logo-name">Seaford RSL</span> </a>
                <div class="nav_list"> 
                    <a href="/service" class="nav_link"> <i class='bx bx-signal-5 nav_icon'></i> <span class="nav_name">Dashboard</span> </a> 
                    <a href="/service/reservations" class="nav_link"> <i class='bx bx-blanket nav_icon'></i> <span class="nav_name">Reservations</span> </a> 
                    <a href="#" class="nav_link" id="incomingAlert"> <i class='bx bx-message-alt-error nav_icon'></i> <span class="nav_name">Incoming</span> </a> 
                    <a href="#" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Floor Plan</span> </a> 
                </div>
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <script src="../../public/js/navbar.js"></script>
    <script src=".././js/bootstrap.bundle.min.js"></script>
    <!--Container Main start-->
    <div class="pt-4" >
        <%- include( requestedView, data ) %> 
    </div>

    
</body>
