
<style>
    #follower {
        position:absolute;
        transform:translate(-50%,-50%);
        height: 3vw;
        width: 3vw;
        background-color: red;
    } 
</style>
<div class="" style="width: 80%; margin-left: 10%; background-color: rgb(202, 202, 202); display: inline-block;">
    <button class="d-inline-block">Use Default Configuration</button>
    <button class="d-inline-block" onclick="newTable()">+</button>
    <div class="d-inline-block container row" style="float: right; width: 30%;">
        <input id="tableNumberInput" class="col-1" type="text" style="float: right;" class="d-inline-block" onclick="rotateTable()" name="tableNum"/>
        <label for="tableNum" class="col-4" style="float: right;">Table Number</label>
        <button class="col-4" onclick="rotateTable()" style="float: right;">ROTATE 45</button>

    </div>
    
</div>

<div class="layoutBody" style="position: relative; width: 80%; height: 45vw; margin-left: 10%;">
    <div style="position: absolute; width: 100%; height: 100%; background-color: black; display: inline-block;" class="" id="layout">

    </div>
    <div style="position: absolute; background-color: white; width: 100%; margin-top: 25%; height: 0.1vw; z-index: 10;"></div>
    <div id="follower"></div>
    <script src="../../public/js/layout.js">
    
    
    </script>
</div>
