<% if (locals.messages.response) {%>
    <p><%= locals.messages.response %></p>
<% } %>

<form method="post">
    <label for="reservationDate">DATE</label>
    <input type="date" name="reservationDate"/>

    <label for="reservationName">NAME</label>
    <input type="text" name="reservationName"/>

    <label for="reservationNumbers">PEOPLE</label>
    <input type="number" name="reservationNumbers" value="0"/>

    <label for="reservationEmail">EMAIL</label>
    <input type="email" name="reservationEmail"/>

    <label for="reservationPhone">PHONE NUMBER</label>
    <input type="text" name="reservationPhone"/>

    <label for="reservationTime">TIME</label>
    <input type="time" name="reservationTime"/>

    <label for="reservationNotes">ADDITIONAL NOTES</label>
    <input type="text" name="reservationNotes"/>

    <input type="submit"/>
</form>
